* {
    margin: 0;
    padding: 0;
}
.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  color: #fff;
  background: #333;
  font-family: Helvetica, sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text__glitch{
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: Uppercase;
}
.box{
  transform: translateZ(15px);
  transform-style: preserve-3d;
  width: 350px;
  height: 600px;
border-bottom: 1rem
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  place-items: center;
/*
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -moz-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -ms-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -o-linear-gradient(to right, #cb2d3e, #ef473a);
  background: linear-gradient(to right, #cb2d3e, #ef473a);
*/
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 600px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
	
}
.card-back{
  transform: rotateY(180deg);
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
h2{
    top: -50px;
font-family: Lancelot;
  width: 100%;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
transform: translateY(-50px);
  transform: translateZ(50px);
}
.rotate-card {
	-webkit-animation: rotate-card 4s ease-in-out infinite both;
	        animation: rotate-card 4s ease-in-out infinite both;
}
.rotate-vert-left {
	-webkit-animation: rotate-vert-center 4s ease-in-out infinite both;
	        animation: rotate-vert-center 4s ease-in-out infinite both;
}
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 5s ease-in-out infinite both;
	        animation: rotate-vert-center 5s ease-in-out infinite both;
}
.rotate-vert-right {
	-webkit-animation: rotate-vert-center 6s ease-in-out infinite both;
	        animation: rotate-vert-center 6s ease-in-out infinite both;
}

@-webkit-keyframes rotate-card {
  0% {
	  -webkit-transform: rotate3d(0);
	transform: rotate3d(0);
  }
50%{
	-webkit-transform: rotate3d(2, -1, -1, -0.2turn);
		transform: rotate3d(2, -1, -1, -0.2turn);
}
  100% {
	  -webkit-transform: rotate3d(0);
		transform: rotate3d(0);
  }
}
@keyframes rotate-card {
  0% {
	  -webkit-transform: rotate3d(0);
	transform: rotate3d(0);
  }
50%{
	-webkit-transform: rotate3d(2, -1, -1, -0.2turn);
		transform: rotate3d(2, -1, -1, -0.2turn);
}
  100% {
	  -webkit-transform: rotate3d(0);
		transform: rotate3d(0);
  }
}


@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
	-webkit-transform: rotate3d(0);
	transform: rotate3d(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
		-webkit-transform: rotate3d(1, 1, 1, 45deg);
		transform: rotate3d(1, 1, 1, 45deg);

  }
}


@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

