* {
    margin: 0;
    padding: 0;
}
.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  color: #fff;
  background: #333;
  font-family: Helvetica, sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text__glitch{
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: Uppercase;
}
.box{
  transform: translateZ(15px);
  transform-style: preserve-3d;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  place-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -moz-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -ms-linear-gradient(to right, #cb2d3e, #ef473a);
  background: -o-linear-gradient(to right, #cb2d3e, #ef473a);
  background: linear-gradient(to right, #cb2d3e, #ef473a);
}
h2{
    top: -50px;
font-family: Lancelot;
  width: 100%;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
transform: translateY(-50px);
  transform: translateZ(50px);
}
